apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: prod

resources:
  - ../../base
  - ../../../../namespaces/prod.yaml
  - configmap.yaml
  - ingress.yaml

namePrefix: prod-
commonLabels:
  env: prod
