name: Reusable Backend Lint

on:
  workflow_call:
    inputs:
      go-version:
        required: true
        type: string
      working-directory:
        required: false
        type: string
        default: 'backend'

jobs:
  lint-backend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}

    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ inputs.go-version }}

      - name: Install dependencies
        run: go mod tidy

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          working-directory: ${{ inputs.working-directory }}
          args: --timeout=3m