apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: invoice-app-frontend
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  
  source:
    repoURL: https://github.com/JustFiesta/simple-go-invoice
    path: kubernetes/apps/frontend/overlays/prod
    targetRevision: HEAD
  
  destination:
    server: https://kubernetes.default.svc
    namespace: prod
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m

  dependsOn:
    - name: prod-namespace
