apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prod-namespace
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/JustFiesta/simple-go-invoice
    targetRevision: HEAD
    path: kubernetes/apps/shared/namespace.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true