apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prod-namespace
  namespace: argocd
spec:
  project: default
  source:
    repoURL: <your-repo>
    targetRevision: HEAD
    path: kubernetes/apps/shared
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true