name: Terraform Apply

on:
  push:
    branches:
      - main
    paths:
      - 'terraform/environments/**'

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  TF_VERSION: 1.9.5
  TERRAFORM_WORKING_DIR: 'terraform/environments/prod'

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Terraform Baisc Actions (Init, Validate, Plan)
        uses: ./.github/actions/terraform-init-validate-plan.yaml
        with:
          working_directory: ${{ env.TERRAFORM_WORKING_DIR }}

      - name: Terraform Apply
        working-directory: terraform/environments/prod
        run: terraform apply -auto-approve tfplan
